# Dependencies
node_modules/

# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# System files
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# IDE
.vscode/
.idea/

# Cache
*.log
.cache/

# Windows system files
AppData/
*.tmp

# Build
build/
android/
ios/
